<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<div class="container">
    <form action="/login-process" method="post">
        <label for="email"></label>
        <input type="text" id="email" placeholder="email" required="" autofocus="">
        <label for="userPwd"></label>
        <input type="password" id="userPwd" placeholder="password" required="">
        <button type="submit">로그인</button>
    </form>
    <form action="/join" method="get">
        <button type="submit">회원가입</button>
    </form>
</div>
</body>
</html>